################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BLL/bin
/BLL/obj/Debug
/DAL/bin
/DAL/obj/Debug/TempPE
/DAL/obj/Debug
/DAL/obj/Release/TempPE
/DAL/obj/Release
/HelperUtility/bin
/HelperUtility/obj/Debug
/HelperUtility/obj/Release
/Model/bin
/Model/obj
/WSCATProject/bin
/WSCATProject/obj
/BLL/obj/Release
